@font-face {
  font-family: "pressStart";
  src: local("pressStart"),
  url('components/font/Press_Start_2P_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "pressStart", sans-serif;
}
